#profilePic
{
	display:block;
	margin: auto;
	height: 259px;
}

.row
{
	margin-bottom: 2em;
}

.centerWrap
{
	width: 100%;
	margin: auto;
	text-align: center;
}

#introContainer
{
	margin-top: 1em;
	height: 9em;
}

#intro
{
	text-align: center;
	font-family: "Courier", monospace;
	font-size: 3em;
}

.typed-cursor
{
	opacity: 0;
}

.hoverGif
{
	width: 30em;
	height: 30em;
	border: 3px solid black;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
}

.hoverGif:hover
{
	cursor: pointer;
}

#colossus
{
	background: url("../media/gifs/colossusStill.jpg");
	background-size: cover;
	background-position: center;
}

#colossus:hover
{
	background: url("../media/gifs/colossus.gif");
	background-size: cover;
	background-position: center;
}

#composing
{
	background: url("../media/gifs/containStill.jpg");
	background-size: cover;
	background-position: center;
}

#composing:hover
{
	background: url("../media/gifs/contain.gif");
	background-size: cover;
	background-position: center;
}


#engine
{
	background: url("../media/gifs/engineStill.jpg");
	background-size: cover;
}

#engine:hover
{
	background: url("../media/gifs/engine.gif");
	background-size: cover;
}

#overdrive
{
	background: url("../media/overdrive_art.png");
	background-size: cover;
	background-position: center;
}

#overdrive:hover
{
	background: url("../media/overdrive_art.png");
	background-size: cover;
	background-position: center;
}

@media only screen and (min-width: 300px) and (max-width: 699px)
{
	#profilePic
	{
		width: 169px;
		height: 209px;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}

	.hi
	{
		font-size: 8em;
		text-align: right;
		width: 50%;
		margin: auto;
		float: none;
	}

	#introContainer
	{
		margin-top: 0em;
		height: 10em;
	}

	#intro
	{
		font-size: 1.5em;
	}

	.hoverGif
	{
		width: 10em;
		height: 10em;
		margin-bottom: 1em;
	}

	#babe
	{
		margin-left: auto;
		margin-right: auto
	}
}

@media only screen and (min-width: 700px) and (max-width: 1425px)
{
	#introContainer
	{
		height: 10em;
	}

	#intro
	{
		font-size: 2em;
	}

	.hoverGif
	{
		width: 16em;
		height: 16em;

	}
}

@keyframes blink{

}
@-webkit-keyframes blink{

}
@-moz-keyframes blink{

}

