img
{
    float: right;
    width: 45em;
    height: 26em;
}

#dropBtn
{
	background: black;
	color: white;
	font-size: 1.4em;
	transition: background-color 0.3s;
	margin-left: 1.5em;
}

#dropBtn:hover
{
    background-color: white;
    color: black;
    transition: color 0.5s;
	transition: background-color 0.5s;
}

#dropText
{
	font-size: 1.4em;
}

@media only screen and (min-width: 300px) and (max-width: 750px)
{
    img
    {
        width: 28em;
        height: 16em;
        float: none;
    }
    
    #vidContainer
    {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
    img
    {
        width: 18em;
        height: 10em;
    }
}

@media only screen and (min-width: 751px) and (max-width: 1200px)
{
    img
    {
        width: 30em;
        height: 20em;
    }
}

@media only screen and (min-width: 300px) and (max-width: 750px)
{
	#dropText
	{
		font-size: 1em;
	}

}