/* Nav Stylings */
.navbar
{
    background-color: black;
}

.icon-bar
{
    background-color: white;
}

.navbar-toggle
{
    border: 2px solid white;
    transition: border 0.5s;
}

.navbar-toggle:hover
{
    border: 2px solid red;
    transition: border 0.5s;
}

.navbar-toggle:active
{
    padding: 9px;
    transition: width 0.3s;
}

.navbar-nav > li
{
    border-left: 1px solid white;
}

.navbar-nav > li:last-child
{
    border-right: 1px solid white;
}

.navbar-nav > li > a
{
    font-family: "Courier", monospace;
    font-size: 1.2em;
    background-color: black;
    color: white;
    transition: background-color 0.5s, color 0.5s;
}

.navbar-nav > li > a:hover
{
    background-color: white;
    color: black;
    transition: background-color 0.5s, color 0.5s;
}

.navbar-brand
{
    background-image: url(../media/WM.png);
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 1s;
    
    width: 3em;
}

.navbar-brand:hover
{
    transform: rotate(180deg);
    transition: transform 1s;
}

/*Typed.js blinking cursor*/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 2s infinite;
    -moz-animation: blink 2s infinite;
    animation: blink 2s infinite;
    font-size: 2em;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* Other Stylings */
.themeText
{
    font-family: "Courier", monospace;
}

#title
{
    padding-left: 20px;
    display: inline-block;
    margin-bottom: 1em;
    font-weight: bold;
}

.mainText
{
    font-size: 1.8em;
	padding-left: 1em;
    padding-right: 1em;
}

a
{
    transition: color 0.3s;
}

a:hover
{
    color:#FB8315;
    text-decoration: none;
    transition: color 0.5s;
}

a:visited
{
    color: #9698ea;
}

@media only screen and (min-width: 300px) and (max-width: 750px)
{
    #title
    {
        text-align: center;
        padding-left: 15px;
        font-size: 1.3em;
        margin-top: -3em;
    }
    
    .mainText
    {
        font-size: 1.2em;
	}
    
    .typed-cursor
    {
        font-size: 1.3em;
        display: inline;
    }
}
