html, body, #root {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#root
{
	position: relative;
}

#map 
{
	height: 100%;
	z-index: 0;
}

.interact
{
	pointer-events: all;
}

#ui
{
	position: absolute;
	pointer-events: none;
	width: 100%;
	height: 100%;
	z-index: 100;
}

#title
{
	position: static;
	text-align: center;
	color: #007bff;
	font-family: roboto;
	font-weight: bold;
}

#wtc
{
	color: #f80046;
}

#controls > *
{
	margin-bottom: 1em;
	margin-left: 1em;
}

.btn-success
{
	background-color: #f80046;
	border-color: #f80046;
}

#searchBtn
{
	margin-left: 0.8em;
}

#filterContainer
{
	width: 18em;
}

#filterContainer > input
{
	display: block;
}

.filter
{
	margin-bottom: 1em;
	width: 100%;
}

#locationAlert, #searchAlert
{
	width: 10%;
	margin-top: -0.5em;
	padding: 5px;
}

#sklogo
{
	position: inherit;
	bottom: 0;
	width: 200px;
	left: 50%; 
	-webkit-transform: translate(-50%, 0); 

}